@model SEL.BLL.Models.DepartmentHierarchy

<ul>
    <li>
        @Model.Name
        @Html.Partial("WorkersCountPartial", Model.Workers.Count)
        @if (Model.Children.Count > 0)
        {
            <ul>
                @foreach (var childDepartment in Model.Children)
                {
                    @Html.Partial("DepartmentHierarchyPartial", childDepartment)
                }
            </ul>
        }
    </li>
</ul>