@model List<SEL.BLL.Models.DepartmentHierarchy>

@{
    ViewBag.Title = "Отделы";
    Layout = "_Layout";
}

<h2>Иерархия департаментов</h2>

<div>
    @foreach (var department in Model)
    {
        @Html.Partial("DepartmentHierarchyPartial", department)
    }
</div>